<ol>
  {{#each games}}
    <li id="comment-page">
      {{game_name}} <br>
      {{game_description}}<br>
      {{min_number_of_players}}<br>
      {{max_number_of_players}}<br>
      {{category.category_name}}<br>
    </li>
  {{/each}}
</ol>