
<link rel="stylesheet" href="/stylesheet/single-game.css">

<div class = "container"></div>
<div class = "row">

    {{#each games}}
    <div class = "col-3">
    <div class="game-card mx-auto">
        <div class="cont">
            <div class="title">
                <h5>{{game_name}}</h5>
            </div>
            <p id="play-details"><b>Description</b></p>
            <div class="details">
                <div class="game-description">
                    {{game_description}}
                </div>
                <div class="game-info">
                    <p>Comments: {{comments.length}}</p>
                    <p>Favorites: {{rank.length}} 0 <i class="fas fa-heart"></i></p>
                </div>
                <div class="game-link">
                  <a href="/game/{{id}}" class="card-link">See More Information</a>
                </div>   
            </div>
        </div>     
    </div>

    </div>
    
    {{/each}}
  </div>
</div>

