





<div class="row">
  <div class="col-sm-4">col-sm-4</div>
  <div class="col-sm-4">col-sm-4</div>
  <div class="col-sm-4">col-sm-4</div>
</div>

<div class="row">
  <div class="col-md">col-md</div>
</div>

<div class="row">
  <div class="col-md">col-md</div>
</div>

<ol>
  {{#each games}}
    <li id="comment-page">
    <p>Game: {{game_name}} </p>
    <p>Description: {{game_description}}</p>
    <p>Players: {{min_number_of_players}}-{{max_number_of_players}}</p>
    <p>Category: {{category.category_name}}</p>
    <p>Comment: {{comments.[0].comment_text}}</p>
    <p>Comment by: {{comments.[0].user.username}}</p>
    <p>Created: {{comments.[0].created_at}}</p>
    <p>Liked by:</p>
    <p>{{ranks.[0].user.username}}</p>
    <p>{{ranks.[1].user.username}}</p>
    <p>{{ranks.[2].user.username}}</p>
      <br>
    </li>
  {{/each}}
</ol>