<section class = "game-highlight">
    <div>
    
        <h1> {{game_name}}</h1>
        <h2>{{category_name}}</h2>
        {{!-- <img src? = > --}}

    </div>
    <div>

        <p>Players: {{min_number_of_players}}--{{max_number_of_players}} players</p>
        <p>Time: {{</p>{{avg_min_game_time}}--{{avg_max_game_time}} minutes</p>

    </div>
</section>

<div class = "description">

<p>game_description</p>


</div>