<link rel="stylesheet" href="/stylesheet/game.css" />
<br />
<div class="game-card mx-auto">
  <div class="cont">
    <div class="title single">
      <p>{{game.category.category_name}}</p>
      <h2>{{game.game_name}}</h2>
    </div>
    <p id="play-details"><b>Game Details</b></p>
    <div class="details">
      <div class="game-info">
        <p>Players</p>
        <p>{{game.min_number_of_players}}-{{game.max_number_of_players}}</p>
      </div>
      <div class="game-info">
        <p>Average Game Time</p>
        <p>{{game.avg_min_game_time}}-{{game.avg_max_game_time}}</p>
      </div>
      <div class="game-description">
        {{game.game_description}}
      </div>
    </div>
  </div>
</div>
<br />
<div class="card mx-auto button-container">

  <button type="button" class="upvote-btn btn btn-danger">{{game.ranks.length}}<br /><i
      class="fas fa-heart"
    ></i></button>

  {{!-- {{#if loggedIn}} --}}
    <div class="dropdown">
      <button
        type="button"
        class="btn btn-info dropdown-toggle"
        id="dropdownMenu2"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >{{game.comments.length}}<br /><i class="fas fa-comments"></i></button>
      <div class="dropdown-menu text-center">
        <form class="comment-form text-center">
          <textarea
            class="dropdown-item"
            name="comment-body"
            aria-labelledby="dropdownMenu2"
          ></textarea>
          <button class="btn btn-info btn-edit" type="submit"><i
              class="fa fa-plus fa-2x"
            ></i></button></form>
      </div>
    </div>
  {{!-- {{/if}} --}}

</div>

<br />
<div class="comments">

  {{#each game.comments}}
    <div class="card text-center mb-3 mx-auto w-100" style="max-width: 40rem;">

      <section class="comment">
        <div class="meta card-header">
          <h4>
            <span class="text-danger">{{user.username}}</span>
            on
            <span class="text-info">{{format_date created_at}}</span>
          </h4>
        </div>
        <div class="text card-body">
          <h4> {{comment_text}}</h4>
        </div>

      </section>
    </div>

  {{/each}}
</div>

<br />

  <script src="/javascript/upvote.js"></script>
{{!-- {{#if loggedIn}} --}}
  <script src="/javascript/comment.js"></script>
{{!-- {{/if}} --}}

