<link rel="stylesheet" href="/stylesheet/single-game.css">

    <div class="game-card justify-content-center mx-auto">
        <div class="cont">
            <div class="title">
                <p>{{game.category.category_name}}</p>
                <h2>{{game.game_name}}</h2>
            </div>
            <p id="play-details"><b>Game Details</b></p>
            <div class="details">
                <div class="game-info">
                    <p>Players</p>
                    <p>{{game.min_number_of_players}}-{{game.max_number_of_players}}</p>
                </div>
                <div class="game-info">
                    <p>Average Game Time</p>
                    <p>{{game.avg_min_game_time}}-{{game.avg_max_game_time}}</p>
                </div>
                <div class="game-description">
                    {{game.game_description}}
                </div>
            </div>
        </div>     
    </div>

    
<div class = "comments-container">

    <h1>SEE WHAT OTHERS ARE SAYING ABOUT THIS GAME!</h1>
    <h3>Favorites: 4</h3>
    <button type="button" class="btn btn-danger"><i class="fas fa-heart fa-2x"></i></button>
    {{!-- {{vote_count} --}}


    <div class="comments">
    {{!-- {{#each this}} --}}
    <section class="comment">
        <div class="meta">
        {{!-- {{user.username}} on {{created_at}} --}}
        lhauxwell6 on 8/16/2021
        
        </div>
        <div class="text">
        {{!-- {{comment_text}} --}}
        This game is great!
        </div>
    </section>
    {{!-- {{/each}} --}}
    </div> 
</div>

    {{!-- {{#if loggedIn}} --}}
    <div class="mx-auto w-100">
<form class="comment-form">
    <textarea name="comment-body"></textarea>

  <div class="mx-auto">
    <button type="submit" class="btn btn-info"><i class="fas fa-comments fa-2x"></i></button>
    
  </div>
</form>
</div>
<br>
{{!-- {{/if}} --}}

{{!-- {{> comments post.comments}} --}}

{{!-- {{#if loggedIn}} --}}
<script src="/javascript/comment.js"></script>
{{!-- <script src="/javascript/upvote.js"></script> --}}
{{!-- {{/if}} --}}

